nltk==3.0.0
simplejson==3.6.5
inject==3.3.0
django==1.7.1
FormEncode==1.2.6
Markdown==2.4.1
PyBrain==0.3
Pygments==2.0.1
SQLObject==1.6.0
Twisted==12.2.0
config==0.3.9
neurolab==0.3.4
pep257==0.3.2
pep8==1.5.7
pymongo==2.7.2
pytest==2.6.2
python-dateutil==1.5
pytz==2012d
scikit-learn==0.15.2
tweepy==2.3.0
enum34==1.0.3
