# TWITTER CREDENTIALS
consumer_key: ''
consumer_secret: ''
access_token: ''
access_token_secret: ''

# FILES
corpus_file: 'data/corpus.csv'
words_file: 'data/words.txt'
ai_save_dir: 'data/ai/'

# DATABASE
db_host: 'localhost'
db_port: '27017'
db_database_name: 'tweetSentimentAnalysis'
train_tweets_table: 'train_data'
test_tweets_table: 'test_data'

# OTHER
max_tweets_per_hour: '1200'
pred_tweet_limit: 0
