{% extends "base.html" %}
{% load tweet_extras %}
{% block content %}

<div class="inner row">
    <h1>{{ header }}</h1>
</div>
<div class="row">
    <form id="analysis_form" class="form-horizontal" role="form" action="/analysis/" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="form-group"  id="action_form">
            <div class="col-sm-4">
                {{ form.action.errors }}
                {% for field in form.action %}
                    <div class="radio-inline">
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4" id="custom_tweet_set_div">
                <div class="checkbox-inline" style="padding-left: 0px;">
                    <label style="padding-right: 30px;" for="id_custom_tweet_set">
                        Custom tweet set:
                    </label>
                    {{ form.custom_tweet_set|addcss:"pull-right" }}
                </div>
            </div>
            <div class="col-sm-4" id="save_results_div">
                <div class="checkbox-inline" style="padding-left: 0px;">
                    <label style="padding-right: 30px;" for="id_save_results">
                        Save:
                    </label>
                    {{ form.save_results|addcss:"pull-right" }}
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group"  id="saved_ai_form">
            <label for="id_saved_ais" class="col-sm-2 control-label">Saved AI:</label>
                {{ form.saved_ais.errors }}
                <div class="col-sm-10">{{ form.saved_ais|addcss:"form-control" }}</div>
        </div>
        <div class="form-group" id="ai_types_form">
            <label for="id_ai_types" class="col-sm-2 control-label">AI types:</label>
            {{ form.ai_types.errors }}
            <div class="col-sm-10">{{ form.ai_types|addcss:"form-control" }}</div>
        </div>
        <div class="form-group" id="tweet_sets_form">
            <label for="id_tweet_sets" class="col-sm-2 control-label">Tweets:</label>
            {{ form.tweet_sets.errors }}
            <div class="col-sm-4">{{ form.tweet_sets|addcss:"form-control" }}</div>
            <label for="id_name" class="col-sm-2 control-label">Name:</label>
            {{ form.name.errors }}
            <div class="col-sm-4">{{ form.name|addcss:"form-control" }}</div>
        </div>
        <div class="form-group" id="submit_form">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" name="form_analize" class="btn btn-default pull-right">Analize</button>
            </div>
        </div>
    </form>
</div>

<div id="tweet_table" class="row paginator_content">
  <table class="table table-condensed">
      <tr>
          <th style="text-align: center">Text</th>
          <th style="text-align: center">RC</th>
          <th style="text-align: center">Predicted RC</th>
          <th style="text-align: center">Sentiment</th>
          <th style="text-align: center">Predicted Sent.</th>
      </tr>
        {% for record in data %}
          <tr>
            <td>{{ record.text }}</td>
            <td>{{ record.retweet_count }}</td>
            {% if 'predicted_retweet_count' in record %}
              <td>{{ record.predicted_retweet_count }}</td>
            {% else %}
              <td>-</td>
            {% endif %}
            <td>{{ record.sentiment }}</td>
            {% if 'predicted_sentiment' in record %}
              <td>{{ record.predicted_sentiment }}</td>
            {% else %}
              <td>-</td>
            {% endif %}
          </tr>
        {% endfor %}
  </table>

    {% if error %}
        <p>Error = {{ error }}</p>
    {% endif %}
</div>

{% endblock %}


































