{% extends "base.html" %}
{% load tweet_extras %}
{% block content %}

    <div class="inner row">
        <h1>{{ header }}</h1>
    </div>
    <div class="row">
        <form id="query_form" class="form-horizontal" role="form" action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="form-group">
                <label for="id_query" class="col-sm-2 control-label">Search:</label>
                {{ form.query.errors }}
                <div class="col-sm-10">{{ form.query|addcss:"form-control" }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="submit" name="form_search" class="btn btn-default pull-right">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div id="tweet_table" class="row paginator_content">
        <table class="table table-condensed">
        <tr>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">Text</th>
            <th style="text-align: center">Retweet count</th>
        </tr>
        {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.author.name }}</td>
                <td>{{ tweet.text }}</td>
                <td>{{ tweet.retweet_count }}</td>
            </tr>
        {% endfor %}
        </table>
        <nav>
          <ul class="pagination">
            <li id="pagination_back"><a href="javascript:void(0)" onclick="toPrevious();">&laquo;</a></li>
            {% for p in pages %}
                <li><a href="javascript:void(0)" onclick="toPage({{ p }});">{{ p }}</a></li>
            {% endfor %}
            <li><a href="javascript:void(0)" onclick="toNext();">&raquo;</a></li>
          </ul>
        </nav>
    </div>
    <div class="row">
        <form class="form-horizontal" role="form" action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.query|addcss:"hidden" }}
            <div class="form-group">
                <div class="col-sm-8">
                    <label for="id_name" class="col-sm-2 control-label">Name:</label>
                    {{ form.name.errors }}
                    {{ form.name|addcss:"form-control" }}
                </div>
                <div class="col-sm-4">
                    <label for="id_limit" class="col-sm-2 control-label">Limit:</label>
                    {{ form.limit.errors }}
                    {{ form.limit|addcss:"form-control" }}
                </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4" id="undersample_div">
                <div class="checkbox-inline" style="padding-left: 0px;">
                    <label style="padding-right: 30px;" for="id_undersample">
                        Undersample:
                    </label>
                    {{ form.undersample|addcss:"pull-right" }}
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="submit" name="form_save" class="btn btn-default pull-right">Save</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
